<?php /** @var \Plugineria\ProductShippingPrice\Magento2\Ui\Block\Product\MinimalShippingRate $block */ ?>
<?php $minimalShippingRate = $block->getMinimalShippingRate() ?>
<?php if ($minimalShippingRate): ?>
  <div class="product-minimal-shipping-rate">
      <span class="minimal-rate-info">
          <?php if (0 === $minimalShippingRate->getPrice()): ?>
              <?php echo $block->escapeHtml(__('Free shipping available')) ?>
          <?php else: ?>
              <?php echo $block->escapeHtml(__('Shipping from')) ?>
              <?php echo $block->getPriceHelper()->currency($minimalShippingRate->getPrice()) ?>
          <?php endif ?>
      </span>

      <a href="<?php echo $block->getAllProductRatesUrl() ?>"
         class="action view all-rates"
         data-mage-init='{"product/shipping_rates": {}}'>
          <span><?php echo $block->escapeHtml(__('Shipping')) ?></span>
      </a>
  </div>
<?php endif ?>


