& when (@media-common = true) {
  .product-minimal-shipping-rate {
    .action.all-rates {
      &:extend(.abs-action-addto-product all);
      float: right;
      text-transform: capitalize;
    }
  }

  .product-shipping-rates.table {
    .rate-price {
      .label {
        float: right;
      }
      .price {
        float: right;
      }
    }
  }

  .session-shipping-address-container {
    .block {
      display: flex;

      label {
        padding-right: 5px;
      }
    }
  }
}