<?php /** @var \Plugineria\ProductShippingPrice\Magento2\Ui\Block\Product\ShippingRates $block */ ?>

<?php $sessionShippingAddress = $block->getSessionShippingAddress() ?>

<div class="session-shipping-address-container">
    <div class="block">
        <label for="session-shipping-address"><?php echo $block->escapeHtml(__('Shipping to:')) ?></label>
        <address id="session-shipping-address">
            <?php if ($sessionShippingAddress->getAddress()->getCity()): ?>
                <?php echo $sessionShippingAddress->getAddress()->getCity() ?>,
            <?php else: ?>
                <?php echo $sessionShippingAddress->getAddress()->getPostalCode() ?>,
            <?php endif ?>

            <?php if (null !== $sessionShippingAddress->getAddress()->getRegion()): ?>
                <?php echo $sessionShippingAddress->getAddress()->getRegion() ?>
            <?php endif ?>
        </address>
    </div>

    <?php if (false === $sessionShippingAddress->isProvidedByCustomer()): ?>
    <dev class="message info">
        <p>
            <span>
                <a hre="<?php echo $block->getUrl('customer/account/login') ?>" target="_blank">
                    <?php echo $block->escapeHtml(__('Sign in')) ?></a>

                <?php echo $block->escapeHtml(__('to estimate shipping to your address.')) ?>
            </span>
        </p>
    </dev>
    <?php endif ?>
</div>

<?php $rates = $block->getRates() ?>
<?php if (0 === count($rates)): ?>
    <?php echo $block->escapeHtml(__('Shipping rates not available')) ?>
<?php else: ?>
  <table class="product-shipping-rates data table">
      <tr>
          <th class="rate-name col">
              <span class="label"><?php echo $block->escapeHtml(__('Shipping Rate')) ?></span>
          </th>
          <th class="rate-price col">
              <span class="label"><?php echo $block->escapeHtml(__('Price')) ?></span>
          </th>
      </tr>

      <?php foreach ($rates as $rate): ?>
      <tr class="rate-code-<?php echo $block->escapeHtmlAttr($rate->getCode()) ?>">
          <td class="rate-name">
              <div class="rate-title col data">
                  <?php echo $block->escapeHtml($rate->getShippingMethod()->getTitle()) ?>
                  /
                  <?php echo $block->escapeHtml($rate->getTitle()) ?>
              </div>
          </td>
          <td class="rate-price col data"><?php echo $block->getPriceHelper()->currency($rate->getPrice()) ?></td>
      </tr>
      <?php endforeach ?>
  </table>
<?php endif ?>
